@model Ux.Mvc.ViewModels.Examples
<div class="page-header">
	<h1>Html <small>string</small></h1>
</div>

<div class="highlight">
	<pre class="prettyprint">
[DataType(DataType.Html)]
public string Html { get; set; }

Html = "&lt;b>Radish nopal, chickweed brussels sprout celtuce winter melon.&lt;/b>&lt;ul>&lt;li>Water chestnut taro jícama chickweed &lt;/li>&lt;li>Fava bean polk ti chard, tigernut&lt;/li>&lt;/ul>",
</pre>
</div>

<h3>Raw</h3>
<div class="example">
	@Model.Html
</div>
<div class="highlight">
	<pre class="prettyprint">
@@Model.Html
</pre>
</div>

<h3>DisplayFor</h3>
<div class="example">
	@Html.DisplayFor(m => m.Html)
</div>
<div class="highlight">
	<pre class="prettyprint">
@@Html.DisplayFor(m => m.Html)
</pre>
</div>

<h3>EditorFor</h3>
<div class="example">

	@Html.EditorFor(m => m.Html)
</div>
<div class="highlight">
	<pre class="prettyprint">
@@Html.EditorFor(m => m.Html)
</pre>

</div>

<h3>UxDisplayRowFor</h3>
<div class="example">
	@Html.UxDisplayRowFor(m => m.Html)
</div>
<div class="highlight">
	<pre class="prettyprint">
@@Html.UxDisplayRowFor(m => m.Html)
</pre>
</div>


<h3>UxEditorRowFor</h3>
<div class="example">
	@using (Html.UxBeginForm())
 {
		@Html.UxEditorRowFor(m => m.Html)
 }
</div>
<div class="highlight">
	<pre class="prettyprint">
@@Html.UxEditorRowFor(m => m.Html)
</pre>
</div>




