@model Ux.Mvc.ViewModels.Examples
<div class="page-header">
	<h1>Password <small>string</small></h1>
</div>

<div class="highlight">
	<pre class="prettyprint">
[DataType(DataType.Password)]
public string Password { get; set; }

Password = "thisisapassword123";
</pre>
</div>

<h3>Raw</h3>
<div class="example">
	@Model.Password
</div>
<div class="highlight">
	<pre class="prettyprint">
@@Model.Password
</pre>
</div>

<h3>DisplayFor<small>Password.cshtml</small></h3>
<div class="example">
	@Html.DisplayFor(m => m.Password)
</div>
<div class="highlight">
	<pre class="prettyprint">
@@Html.DisplayFor(m => m.Password)
</pre>
</div>

<h3>EditorFor<small>Password.cshtml</small></h3>
<div class="example">

	@Html.EditorFor(m => m.Password)
</div>
<div class="highlight">
	<pre class="prettyprint">
@@Html.EditorFor(m => m.Password)
</pre>

</div>

<h3>UxDisplayRowFor</h3>
<div class="example">
	@Html.UxDisplayRowFor(m => m.Password)
</div>
<div class="highlight">
	<pre class="prettyprint">
@@Html.UxDisplayRowFor(m => m.Password)
</pre>
</div>


<h3>UxEditorRowFor</h3>
<div class="example">
	@using (Html.UxBeginForm())
 {
		@Html.UxEditorRowFor(m => m.Password)
 }
</div>
<div class="highlight">
	<pre class="prettyprint">
@@Html.UxEditorRowFor(m => m.Password)
</pre>
</div>



