@model Ux.Mvc.ViewModels.Examples
<div class="page-header">
	<h1>Time <small>DateTime</small></h1>
</div>

<div class="highlight">
	<pre class="prettyprint">
[DataType(DataType.Time)]
public DateTime Time { get; set; }

Time = DateTime.Now;
</pre>
</div>

<h3>Raw</h3>
<div class="example">
	@Model.Time.ToString()
</div>
<div class="highlight">
	<pre class="prettyprint">
@@Model.Time.ToString()
</pre>
</div>

<h3>DisplayFor</h3>
<div class="example">
	@Html.DisplayFor(m => m.Time)
</div>
<div class="highlight">
	<pre class="prettyprint">
@@Html.DisplayFor(m => m.Time)
</pre>
</div>

<h3>EditorFor<small>Time.cshtml</small></h3>
<div class="example">

	@Html.EditorFor(m => m.Time)

</div>
<div class="highlight">
	<pre class="prettyprint">
@@Html.EditorFor(m=>m.Time)
</pre>

</div>

<h3>UxDisplayRowFor</h3>
<div class="example">
	@Html.UxDisplayRowFor(m => m.Time)
</div>
<div class="highlight">
	<pre class="prettyprint">
@@Html.UxDisplayRowFor(m => m.Time)
</pre>
</div>


<h3>UxEditorRowFor</h3>
<div class="example">
	@using (Html.UxBeginForm())
 {
		@Html.UxEditorRowFor(m => m.Time)
 }
</div>
<div class="highlight">
	<pre class="prettyprint">
@@Html.UxEditorRowFor(m=>m.Time)
</pre>
</div>


