@model Ux.Mvc.ViewModels.Examples
<div class="page-header">
	<h1>Date <small>DateTime</small></h1>
</div>

<div class="highlight">
	<pre class="prettyprint">
public DateTime DateTime { get; set; }

DateAndTime = DateTime.Now;
</pre>
</div>

<h3>Raw</h3>
<div class="example">
	@Model.DateTime.ToString()
</div>
<div class="highlight">
	<pre class="prettyprint">
@@Model.DateTime.ToString()
</pre>
</div>

<h3>DisplayFor</h3>
<div class="example">
	@Html.DisplayFor(m => m.DateTime)
</div>
<div class="highlight">
	<pre class="prettyprint">
@@Html.DisplayFor(m => m.DateTime)
</pre>
</div>

<h3>EditorFor</h3>
<div class="example">

	@Html.EditorFor(m => m.DateTime)
</div>
<div class="highlight">
	<pre class="prettyprint">
@@Html.EditorFor(m => m.DateTime)
</pre>

</div>

<h3>UxDisplayRowFor</h3>
<div class="example">
	@Html.UxDisplayRowFor(m => m.DateTime)
</div>
<div class="highlight">
	<pre class="prettyprint">
@@Html.UxDisplayRowFor(m => m.DateTime)
</pre>
</div>


<h3>UxEditorRowFor</h3>
<div class="example">
	@using (Html.UxBeginForm())
 {
		@Html.UxEditorRowFor(m => m.DateTime)
 }
</div>
<div class="highlight">
	<pre class="prettyprint">
@@Html.UxEditorRowFor(m => m.DateTime)
</pre>
</div>


