@model Ux.Mvc.ViewModels.Examples
<div class="page-header">
	<h1>Decimal <small>decimal</small></h1>
</div>

<div class="highlight">
	<pre class="prettyprint">
public decimal Decimal { get; set; }

Decimal = 123.456789M;
</pre>
</div>

<h3>Raw</h3>
<div class="example">
	@Model.Decimal.ToString()
</div>
<div class="highlight">
	<pre class="prettyprint">
@@Model.Decimal
</pre>
</div>

<h3>DisplayFor</h3>
<div class="example">
	@Html.DisplayFor(m => m.Decimal)
</div>
<div class="highlight">
	<pre class="prettyprint">
@@Html.DisplayFor(m => m.Decimal)
</pre>
</div>

<h3>EditorFor</h3>
<div class="example">

	@Html.EditorFor(m => m.Decimal)
</div>
<div class="highlight">
	<pre class="prettyprint">
@@Html.EditorFor(m => m.Decimal)
</pre>

</div>

<h3>UxDisplayRowFor</h3>
<div class="example">
	@Html.UxDisplayRowFor(m => m.Decimal)
</div>
<div class="highlight">
	<pre class="prettyprint">
@@Html.UxDisplayRowFor(m => m.Decimal)
</pre>
</div>


<h3>UxEditorRowFor</h3>
<div class="example">
	@using (Html.UxBeginForm())
 {
		@Html.UxEditorRowFor(m => m.Decimal)
 }
</div>
<div class="highlight">
	<pre class="prettyprint">
@@Html.UxEditorRowFor(m => m.Decimal)
</pre>
</div>
