@model Ux.Mvc.ViewModels.Examples
<div class="page-header">
	<h1>Image Url <small>string</small></h1>
</div>

<div class="highlight">
	<pre class="prettyprint">
[DataType(DataType.ImageUrl)]
public string ImageUrl { get; set; }

ImageUrl = "https://www.google.com/images/srpr/logo4w.png";
</pre>
</div>

<h3>Raw</h3>
<div class="example">
	@Model.ImageUrl
</div>
<div class="highlight">
	<pre class="prettyprint">
@@Model.ImageUrl
</pre>
</div>

<h3>DisplayFor</h3>
<div class="example">
	@Html.DisplayFor(m => m.ImageUrl)
</div>
<div class="highlight">
	<pre class="prettyprint">
@@Html.DisplayFor(m => m.ImageUrl)
</pre>
</div>

<h3>EditorFor<small>ImageUrl.cshtml</small></h3>
<div class="example">
	@Html.EditorFor(m => m.ImageUrl)
</div>
<div class="highlight">
	<pre class="prettyprint">
@@Html.EditorFor(m => m.ImageUrl)
</pre>

</div>

<h3>UxDisplayRowFor</h3>
<div class="example">
	@Html.UxDisplayRowFor(m => m.ImageUrl)
</div>
<div class="highlight">
	<pre class="prettyprint">
@@Html.UxDisplayRowFor(m => m.ImageUrl)
</pre>
</div>


<h3>UxEditorRowFor</h3>
<div class="example">
	@using (Html.UxBeginForm())
 {
		@Html.UxEditorRowFor(m => m.ImageUrl)
 }
</div>
<div class="highlight">
	<pre class="prettyprint">
@@Html.UxEditorRowFor(m => m.ImageUrl)
</pre>
</div>




