@using Ux.Mvc.Web.UI
@model Ux.Mvc.Web.UI.EditorRow
<div class="form-group" @Model.GetClientIdString()>
    @Model.Label 
    <div class="col-xs-9">
        @Model.Editor @if(Model.Tooltip.IsNullOrEmpty()== false) {
        <a href="#" data-toggle="tooltip" data-original-title="@Model.Tooltip">@Html.UxIcon(IconType.QuestionSign)</a>
    }
        @Model.Validation
    </div>
</div>
