@using System.Web.Optimization
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700' rel='stylesheet' type='text/css'>
    <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
    <link rel="shortcut icon" href="@Url.Content("~/Content/favicon.ico")" type="image/x-icon">
    <link rel="icon" href="@Url.Content("~/Content/favicon.ico")" type="image/x-icon">
    @Styles.Render("~/ux/css")
    @Styles.Render("~/css")
</head>
<body>

    @RenderBody()

    @Scripts.Render("~/js/jquery")
    @Scripts.Render("~/ux/js")
    @Scripts.Render("~/js")

</body>
</html>
