@using Ux.Mvc.Web.UI
@helper isActive(string action, string controller)
{
    if (Url.Action(action, controller) == Request.Url.LocalPath)
    {
    @:class="active"   
    }    
}
@helper navItem(string text, string action, string controller, IconType? icon = null)
{
    <li @isActive(action, controller)>
       
        <a href="@Url.Action(action, controller)"> @if (icon.HasValue) {
         @Html.UxIcon(icon.Value)   
        } @text</a></li>
}
@helper helperItem(string text, string nameOfPartial)
{
    <li>@Html.ActionLink(text, "HtmlHelpers", "UxDocumentation", new { partial = nameOfPartial }, null)</li>
}

<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
    
        <ul class="nav navbar-nav">
            @navItem("Home", "Index", "UxDocumentation", IconType.Home)
            @*@navItem("Data types", "DataTypes", "UxDocumentation")*@
            

            <li 
                @if (Url.Action("HtmlHelpers","UxDocumentation")== Request.Url.LocalPath) {
                    @:class="dropdown active" 
                }
                else
                {
                    @:class="dropdown" 
                }>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">@Html.UxIcon(IconType.Bookmark) Helpers <b class="caret"></b></a>
                <ul class="dropdown-menu">

                    @helperItem("Abbreviations", "Abbreviations")
                    @helperItem("Alerts", "Alerts")
                    @helperItem("Badges", "Badges")
                    @helperItem("Bullet lists", "BulletLists")
                    @helperItem("Buttons", "Buttons")
                    @helperItem("Button groups", "ButtonGroups")
                    @helperItem("Button groups with datasource", "ButtonGroupsDataSource")
                    @helperItem("Button toolbars", "ButtonToolbars")
                    @helperItem("Callouts", "Callouts")
                    @helperItem("Icons", "Icons")
                    @helperItem("Images", "Images")
                    @helperItem("Labels", "Labels")
                    @helperItem("Link buttons", "LinkButtons")
                    @helperItem("Panels", "Panels")
                    @helperItem("Progress bars", "ProgressBars")
                    @helperItem("Navs", "Navs")
                    @helperItem("Next-Previous pagers", "NextPreviousPagers")
                    @helperItem("Numeric pagers", "NumericPagers")
                    @helperItem("Selects", "Selects")
                    @helperItem("Selects with datasource", "SelectDataSource")
                    @helperItem("Select options", "SelectOptions")
                    @helperItem("Select groups", "SelectGroups")
                    @helperItem("Tables", "Tables")
                    @helperItem("Tooltips", "Tooltips")
                    @helperItem("Wells", "Wells")
                    
                </ul>


            </li>



            @*@navItem("Files", "Files", "UxDocumentation")*@
            @navItem("Setup", "Configuration", "UxDocumentation", IconType.Wrench)
            @*@navItem("View models and models", "ViewModels", "UxDocumentation")*@
        </ul>
        <div style="position:relative;float:right;margin-top:10px;margin-bottom: -20px;z-index:9999;"><a href="/">@Html.UxImage("~/Content/logo.png", width: "50px", height: "50px")</a></div>    
    </div>
</div>

