@using Ux.Mvc.Web.UI
@helper isActive(string action, string controller)
{
    if (Url.Action(action, controller) == Request.Url.LocalPath)
    {
    @:class="active"   
    }    
}
@helper navItem(string text, string action, string controller)
{
    <li @isActive(action, controller)>@Html.ActionLink(text, action, controller)</li>
}
<div class="navbar navbar-default navbar-fixed-top">
    <ul class="nav navbar-nav">
        @navItem("Home", "Index", "UxDocumentation")
        @navItem("Data types", "DataTypes", "UxDocumentation")
        @navItem("Html Helpers", "HtmlHelpers", "UxDocumentation")
        @navItem("Files", "Files", "UxDocumentation")
        @navItem("Configuration and setup", "Configuration", "UxDocumentation")
        @navItem("View models and models", "ViewModels", "UxDocumentation")
    </ul>
</div>
