@using Ux.Mvc.Web.UI
@helper isActive(string action, string controller)
{
    if (Url.Action(action, controller) == Request.Url.LocalPath)
    {
    @:class="active"   
    }    
}
@helper navItem(string text, string action, string controller, IconType icon = null)
{
    <li @isActive(action, controller)>

        <a href="@Url.Action(action, controller)">@if (icon!=null)
                                                  {
            @Html.UxIcon(icon)   
                                                  } @text</a></li>
}
@helper helperItem(string text, string nameOfPartial, bool isNew = false)
{
    
    <li><a href="@Url.Action("HtmlHelpers", "UxDocumentation", new { partial = nameOfPartial }, null)">@text @if (isNew)
                                                                                                             {
        @Html.UxLabel("New", appearance: LabelAppearanceType.Danger)
                                                                                                             }
    </a></li>
}
@helper sampleItem(string text, string nameOfPartial, bool isNew = false)
{
    
    <li><a href="@Url.Action("Samples", "UxDocumentation", new { partial = nameOfPartial }, null)">@text @if (isNew)
                                                                                                         {
        @Html.UxLabel("New", appearance: LabelAppearanceType.Danger)
                                                                                                         }
    </a></li>
}
@helper attributeItem(string text, string nameOfPartial, bool isNew = false)
{

    <li>
        <a href="@Url.Action("Attributes", "UxDocumentation", new { partial = nameOfPartial }, null)">
            @text @if (isNew)
            {
                @Html.UxLabel("New", appearance: LabelAppearanceType.Danger)
            }
        </a>
    </li>
}

@helper dataItem(string text, string nameOfPartial, bool isNew = false)
{
    
    <li><a href="@Url.Action("DataTypes", "UxDocumentation", new { partial = nameOfPartial }, null)">@text @if (isNew)
                                                                                                           {
        @Html.UxLabel("New", appearance: LabelAppearanceType.Danger)
                                                                                                           }
    </a></li>
}

<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">

        <ul class="nav navbar-nav">
            @navItem("Home", "Index", "UxDocumentation", IconType.Home)
            @navItem("Setup", "Configuration", "UxDocumentation", IconType.Wrench)



            <li 
                @if (Url.Action("HtmlHelpers", "UxDocumentation") == Request.Url.LocalPath)
                {
                    @:class="dropdown active" 
                }
                else
                {
                    @:class="dropdown" 
                }>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">@Html.UxIcon(IconType.Bookmark) Helpers <b class="caret"></b></a>
                <ul class="dropdown-menu">

                    @helperItem("Abbreviations", "Abbreviations")
                    @helperItem("Alerts", "Alerts")
                    @helperItem("Badges", "Badges")
                    @helperItem("Bullet lists", "BulletLists")

                    @helperItem("Callouts", "Callouts")
                    @helperItem("Checkboxes", "Checkboxes",true)
                    @helperItem("Date range picker", "DateRangePicker",true)
                    @helperItem("Icons", "Icons")
                    @helperItem("Images", "Images")
                    @helperItem("Labels", "Labels")
                    @helperItem("Navs", "Navs")
                    @helperItem("Panels", "Panels")
                    @helperItem("Popovers", "Popovers", true)
                    @helperItem("Progress bars", "ProgressBars")
                    @helperItem("Radio buttons", "RadioButtons", true)
                    @helperItem("Textboxes", "Textboxes",true)
                    @helperItem("Tooltips", "Tooltips")
                    @helperItem("Tables", "Tables")
                    @helperItem("Time picker", "TimePickers", true)
                    @helperItem("Wells", "Wells")

                    <li class="divider"></li>
                    <li class="dropdown-submenu">
                        <a href="#">Buttons</a>
                        <ul class="dropdown-menu">
                            @helperItem("Buttons", "Buttons")
                            @helperItem("Groups", "ButtonGroups")
                            @helperItem("Groups with DataSource", "ButtonGroupsDataSource")
                            @helperItem("Toolbars", "ButtonToolbars")
                            @helperItem("Link buttons", "LinkButtons", true)

                        </ul>
                    </li>
                    <li class="divider"></li>
                    <li class="dropdown-submenu">
                        <a href="#">Selects</a>
                        <ul class="dropdown-menu">
                            @helperItem("Selects", "Selects")
                            @helperItem("With DataSource", "SelectDataSource")
                            @helperItem("Options", "SelectOptions")
                            @helperItem("Groups", "SelectGroups")

                        </ul>
                    </li>
                    <li class="divider"></li>
                    <li class="dropdown-submenu">
                        <a href="#">Paging</a>
                        <ul class="dropdown-menu">
                            @helperItem("Next-Previous", "NextPreviousPagers")
                            @helperItem("Numeric", "NumericPagers")

                        </ul>
                    </li>





                </ul>


            </li>

            @*<li 
                @if (Url.Action("Samples", "UxDocumentation") == Request.Url.LocalPath)
                {
                    @:class="dropdown active" 
                }
                else
                {
                    @:class="dropdown" 
                }>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">@Html.UxIcon(IconType.Code) Samples <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    @sampleItem("Tables", "Tables")
                </ul>
            </li>*@
            <li @if (Url.Action("Attributes", "UxDocumentation") == Request.Url.LocalPath) { @: class="dropdown active"
                                } else { @: class="dropdown"
                                }>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">@Html.UxIcon(IconType.Code) Attributes <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    @attributeItem("Textbox sizes", "TextboxSize", true)
                </ul>
            </li>













            <li 
                @if (Url.Action("DataTypes", "UxDocumentation") == Request.Url.LocalPath)
                {
                    @:class="dropdown active" 
                }
                else
                {
                    @:class="dropdown" 
                }>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">@Html.UxIcon(IconType.ListAlt) Data types <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li class="dd-group">Date and time</li>
                    @dataItem("Date", "Date")
                    @dataItem("Time", "Time")
                    @dataItem("Date and time", "DateTime")
                    <li class="divider"></li>
                    <li class="dd-group">Strings</li>
                    @dataItem("Single line text", "SingleLineText")
                    @dataItem("Multiline text", "MultilineText")
                    @dataItem("Email address", "EmailAddress")
                    @dataItem("Url", "Url")
                    @dataItem("Password", "Password")
                    @dataItem("Html", "Html")
                    @dataItem("Image Url", "ImageUrl")
                    <li class="divider"></li>
                    <li class="dd-group">Numbers</li>
                    @dataItem("Currency", "Currency")
                    @dataItem("Integer", "Integer")
                    @dataItem("Decimal", "Decimal")
                    @dataItem("Double", "Double")
                    @dataItem("Foreign keys", "ForeignKeys")
                    <li class="divider"></li>
                    @dataItem("Boolean", "Boolean")


                </ul>
            </li>
            @navItem("Credits", "About", "UxDocumentation", IconType.ThumbsUp)

        </ul>

        <div style="position: relative; float: right; margin-top: 10px; margin-bottom: -20px; z-index: 9999;"><a href="/">@Html.UxImage("~/Content/logo.png", width: "50px", height: "50px")</a></div>
    </div>
</div>

