@using Ux.Mvc.Web.UI
@{
    var options = new List<SelectOption>();
    options.Add(new SelectOption("Apple", "1"));
    options.Add(new SelectOption("Banana", "2"));
    options.Add(new SelectOption("Orange", "3"));
    options.Add(new SelectOption("Pear", "4"));

    var iconOptions = new List<SelectOption>();
    iconOptions.Add(new SelectOption("Apple", "1", iconType: IconType.Apple));
    iconOptions.Add(new SelectOption("Github", "2", iconType: IconType.Github));
    iconOptions.Add(new SelectOption("Facebook", "3", iconType: IconType.FacebookSign));
    iconOptions.Add(new SelectOption("Pinterest", "4", iconType: IconType.PinterestSign));

    var ds = new DataSource(options);
    var dsIcons = new DataSource(iconOptions);
      
}
<div class="page-header">
    <h1>Button groups with DataSource<small>UxButtonGroupWithDataSource</small></h1>
</div>
<div class="section">
    <h3>Helpers</h3>
    <div class="highlight highlight-large">
        <pre class="prettyprint">
// Button group
@@Html.UxButtonGroupWithDataSource()
</pre>
    </div>

</div>

<div class="section">

    <h3>Appearance</h3>
    <div class="example">
        @Html.UxButtonGroupWithDataSource(ds, "3")
    </div>
    <div class="highlight">
        <pre class="prettyprint">
@@Html.UxButtonGroupWithDataSource(ds, "3")
</pre>
    </div>
</div>
<div class="section">
    <h3>Size</h3>
    <div class="example">
        @Html.UxButtonGroupWithDataSource(ds, "3", ButtonSize.ExtraSmall)
        @Html.UxButtonGroupWithDataSource(ds, "3", ButtonSize.Small)
        @Html.UxButtonGroupWithDataSource(ds, "3")
        @Html.UxButtonGroupWithDataSource(ds, "3", ButtonSize.Large)
    </div>
    <div class="highlight">
        <pre class="prettyprint">
@@Html.UxButtonGroupWithDataSource(ds, "3",ButtonSize.ExtraSmall)
@@Html.UxButtonGroupWithDataSource(ds, "3",ButtonSize.Small)
@@Html.UxButtonGroupWithDataSource(ds, "3")
@@Html.UxButtonGroupWithDataSource(ds, "3",ButtonSize.Large)
</pre>
    </div>
</div>
<div class="section">
    <h3>Icons</h3>
    <p>Icons are set in your datasource.</p>
    <div class="example">
        @Html.UxButtonGroupWithDataSource(dsIcons, "3")
    </div>
    <div class="highlight">
        <pre class="prettyprint">
@@Html.UxButtonGroupWithDataSource(dsIcons, "3")
</pre>
    </div>
</div>

<div class="section">
    <h3>Parameters</h3>
    @using (var panel = Html.UxPanel())
    {
        @panel.Header(
    @:UxButtonGroupWithDataSource
)
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Default</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>dataSource</td>
                    <td><code>DataSource</code></td>
                    <td><code>null</code></td>
                    <td>The items to include in your group.</td>
                </tr>
                <tr>
                    <td>selectedValue</td>
                    <td><code>string</code></td>
                    <td><code>null</code></td>
                    <td>The corresponding <code>value</code> of the item in your datasource you wish to select.</td>
                </tr>
                <tr>
                    <td>size</td>
                    <td><code>ButtonSize</code></td>
                    <td><code>Default</code></td>
                    <td>Sets the size of all buttons within the group.</td>
                </tr>
                <tr>
                    <td>clientId</td>
                    <td><code>string</code></td>
                    <td><code>null</code></td>
                    <td>Sets the <code>id</code> property of the rendered html element.</td>
                </tr>
            </tbody>
        </table>
    }
</div>