@using Ux.Mvc.Web.UI
@{
    var options = new List<SelectOption>();
    options.Add(new SelectOption("Apple","1"));
    options.Add(new SelectOption("Banana","2"));
    options.Add(new SelectOption("Orange","3"));
    options.Add(new SelectOption("Pear","4"));
            
    var ds = new DataSource(options);
      
}
<div class="page-header">
<h1>Button groups with DataSource<small>UxButtonGroupWithDataSource</small></h1>
	</div>
<h3>Helpers</h3>
<div class="highlight highlight-large">
	<pre class="prettyprint">
// Button group
@@Html.UxButtonGroupWithDataSource()
</pre>
</div>

<h3>Helper options</h3>
<table class="table table-striped">
	<thead>
		<tr>
			<th>Name</th>
			<th>Type</th>
			<th>Default</th>
			<th>Description</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>toggle</td>
			<td><code>bool</code></td>
			<td><code>false</code></td>
			<td>If <code>true</code>, sets the buttons within to toggle state when clicked.</td>
		</tr>
		<tr>
			<td>size</td>
			<td><code>ButtonSize</code></td>
			<td><code>Default</code></td>
			<td>Sets the size of all buttons within the group.</td>
		</tr>
		<tr>
			<td>clientId</td>
			<td><code>string</code></td>
			<td><code>null</code></td>
			<td>Sets the <code>id</code> property of the rendered html element.</td>
		</tr>
	</tbody>
</table>


<h3>Appearance</h3>
<div class="example">
@Html.UxButtonGroupWithDataSource(ds, null,true)
    @Html.UxButtonGroupWithDataSource(ds, "3", true)
</div>
<div class="highlight">
	<pre class="prettyprint">
@@Html.UxButtonGroupWithDataSource(ds, true)
</pre>
</div>

<h3>Size</h3>
<div class="example">
@using (Html.UxButtonGroup(toggle:true, size: ButtonSize.Large))
{
	@Html.UxButton("", iconType: IconType.Bold)
	@Html.UxButton("", iconType: IconType.Italic)
	@Html.UxButton("", iconType: IconType.Underline)
}<br /><br />
	@using (Html.UxButtonGroup(toggle:true, size: ButtonSize.Default))
{
	@Html.UxButton("", iconType: IconType.Bold)
	@Html.UxButton("", iconType: IconType.Italic)
	@Html.UxButton("", iconType: IconType.Underline)
}<br /><br />
	@using (Html.UxButtonGroup(toggle:true, size: ButtonSize.Small))
{
	@Html.UxButton("", iconType: IconType.Bold)
	@Html.UxButton("", iconType: IconType.Italic)
	@Html.UxButton("", iconType: IconType.Underline)
}<br /><br />
	@using (Html.UxButtonGroup(toggle:true, size: ButtonSize.ExtraSmall))
{
	@Html.UxButton("", iconType: IconType.Bold)
	@Html.UxButton("", iconType: IconType.Italic)
	@Html.UxButton("", iconType: IconType.Underline)
}
</div>
<div class="highlight">
	<pre class="prettyprint">
@@using (Html.UxButtonGroup(toggle: true, size: ButtonSize.Large)) { &hellip; }
@@using (Html.UxButtonGroup(toggle: true)) { &hellip; }
@@using (Html.UxButtonGroup(toggle: true, size: ButtonSize.Small)) { &hellip; }
@@using (Html.UxButtonGroup(toggle: true, size: ButtonSize.ExtraSmall)) { &hellip; }
</pre>
</div>


<h3>Toggle</h3>
<div class="example">
@using (Html.UxButtonGroup(toggle:true))
{
	@Html.UxButton("", iconType: IconType.Bold)
	@Html.UxButton("", iconType: IconType.Italic)
	@Html.UxButton("", iconType: IconType.Underline)
}
</div>
<div class="highlight">
	<pre class="prettyprint">
@@using (Html.UxButtonGroup(toggle:true))
{
	@@Html.UxButton("", iconType: IconType.Bold)
	@@Html.UxButton("", iconType: IconType.Italic)
	@@Html.UxButton("", iconType: IconType.Underline)
}
</pre>
</div>