@using Ux.Mvc.Web.UI
<div class="page-header">
    <h1>Labels<small>UxLabel</small></h1>
</div>
<div class="section">
    <h3>Helper</h3>
    <div class="highlight highlight-large">
        <pre class="prettyprint">
@@Html.UxLabel()
</pre>
    </div>
</div>
<div class="section">


    <h3>Appearance</h3>
    <div class="example">
        @Html.UxLabel("Default")
        @Html.UxLabel("Success", AppearanceType.Success)
        @Html.UxLabel("Primary", AppearanceType.Primary)
        @Html.UxLabel("Danger", AppearanceType.Danger)
        @Html.UxLabel("Info", AppearanceType.Info)
        @Html.UxLabel("Warning", AppearanceType.Warning)
    </div>
    <div class="highlight">
        <pre class="prettyprint">
@@Html.UxLabel("Default")
@@Html.UxLabel("Success", AppearanceType.Success)
@@Html.UxLabel("Primary", AppearanceType.Primary)
@@Html.UxLabel("Danger", AppearanceType.Danger)
@@Html.UxLabel("Info", AppearanceType.Info)
@@Html.UxLabel("Warning", AppearanceType.Warning)
</pre>
    </div>
</div>
<div class="section">
    <h3>Size</h3>
    <p>Size is inherited from the parent container.</p>
    <div class="example">
        <h1>Example heading @Html.UxLabel("New")</h1>
        <h2>Example heading @Html.UxLabel("New")</h2>
        <h3>Example heading @Html.UxLabel("New")</h3>
        <h4>Example heading @Html.UxLabel("New")</h4>
        <h5>Example heading @Html.UxLabel("New")</h5>
        <h6>Example heading @Html.UxLabel("New")</h6>
    </div>
    <div class="highlight">
        <pre class="prettyprint">
&lt;h1>Example heading @@Html.UxLabel("New")&lt;h1>
&lt;h2>Example heading @@Html.UxLabel("New")&lt;/h2>
&lt;h3>Example heading @@Html.UxLabel("New")&lt;/h3>
&lt;h4>Example heading @@Html.UxLabel("New")&lt;/h4>
&lt;h5>Example heading @@Html.UxLabel("New")&lt;/h5>
&lt;h6>Example heading @@Html.UxLabel("New")&lt;/h6>
</pre>
    </div>
</div>


<div class="section">
    <h3>Parameters</h3>
    @using (var panel = Html.UxPanel(AppearanceType.Default))
    {
        @panel.Header(
    @:UxLabel
)
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Default</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>text</td>
                    <td><code>string</code></td>
                    <td><code>null</code></td>
                    <td>The text to display on the label.</td>
                </tr>
                <tr>
                    <td>appearance</td>
                    <td><code>AppearanceType</code></td>
                    <td><code>Default</code></td>
                    <td>Sets the coloring of the label.</td>
                </tr>
                <tr>
                    <td>clientId</td>
                    <td><code>string</code></td>
                    <td><code>null</code></td>
                    <td>Sets the <code>id</code> property of the rendered html element.</td>
                </tr>
            </tbody>
        </table>
    }
</div>
