@using Ux.Mvc.Web.UI
<div class="page-header">
    <h1>Next-Previous Pagers <small>UxNextPrevPager</small></h1>
</div>

<div class="section">
    <h3>Helper</h3>
    <div class="highlight highlight-large">
        <pre class="prettyprint">
@@Html.UxNextPrevPager()
</pre>
    </div>
</div>
<div class="section">




    <h3>Appearance</h3>
    <div class="example">
        @Html.UxNextPrevPager("Newer", "/link/to/nextpage", "Older", "/link/to/previouspage")
        @Html.UxNextPrevPager("Newer", "/link/to/nextpage", "Older", null)
        @Html.UxNextPrevPager("Newer", null, "Older", "/link/to/previouspage")
    </div>
    <div class="highlight">
        <pre class="prettyprint">
@@Html.UxNextPrevPager("Newer", "/link/to/nextpage", "Older", "/link/to/previouspage")
@@Html.UxNextPrevPager("Newer", "/link/to/nextpage", "Older", null)
@@Html.UxNextPrevPager("Newer", null, "Older", "/link/to/previouspage")
</pre>
    </div>
</div>
<div class="section">
    <h3>Position</h3>
    <div class="example">
        @Html.UxNextPrevPager("Forward", "newerUrl", "Back", "prevUrl", position: PagerPosition.Edge)
        @Html.UxNextPrevPager("Newer", "/link/to/nextpage", "Older", null, position: PagerPosition.Edge)
        @Html.UxNextPrevPager("Newer", null, "Older", "/link/to/previouspage", position: PagerPosition.Edge)
    </div>
    <div class="highlight">
        <pre class="prettyprint">
@@Html.UxNextPrevPager("Forward", "/link/to/nextpage", "Back", "/link/to/previouspage", PagerPosition.Edge)
@@Html.UxNextPrevPager("Newer", "/link/to/nextpage", "Older", null, PagerPosition.Edge)
@@Html.UxNextPrevPager("Newer", null, "Older", "/link/to/previouspage", PagerPosition.Edge)
</pre>
    </div>
</div>
<div class="section">
    <h3>Icons</h3>
    <div class="example">
        @Html.UxNextPrevPager("Forward", "newerUrl", "Back", "prevUrl", IconType.ArrowRight, IconType.ArrowLeft)
        @Html.UxNextPrevPager("Forward", "newerUrl", "Back", "prevUrl", IconType.DoubleAngleRight, IconType.DoubleAngleLeft)
        @Html.UxNextPrevPager("Forward", "newerUrl", "Back", "prevUrl", IconType.ChevronSignRight, IconType.ChevronSignLeft)
    </div>
    <div class="highlight">
        <pre class="prettyprint">
@@Html.UxNextPrevPager("Forward", "newerUrl", "Back", "prevUrl", 
		IconType.ArrowRight, IconType.ArrowLeft)

@@Html.UxNextPrevPager("Forward", "newerUrl", "Back", "prevUrl", 
		IconType.DoubleAngleRight, IconType.DoubleAngleLeft)

@@Html.UxNextPrevPager("Forward", "newerUrl", "Back", "prevUrl", 
		IconType.ChevronSignRight, IconType.ChevronSignLeft)
</pre>
    </div>
</div>




<div class="section">
    <h3>Parameters</h3>
    @using (var panel = Html.UxPanel(AppearanceType.Default))
    {
        @panel.Header(
    @:UxNextPrevPager
)
        <table class="table table-striped">

            <thead>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Default</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>nextText</td>
                    <td><code>string</code></td>
                    <td><code>null</code></td>
                    <td>The text to display for the next page button.</td>
                </tr>
                <tr>
                    <td>nextUrl</td>
                    <td><code>string</code></td>
                    <td><code>null</code></td>
                    <td>The Url to navigate to when the next page link is clicked. If <code>null</code>, the next page link isn't rendered.</td>
                </tr>
                <tr>
                    <td>prevText</td>
                    <td><code>string</code></td>
                    <td><code>null</code></td>
                    <td>The text to display for the previous page button.</td>
                </tr>
                <tr>
                    <td>prevUrl</td>
                    <td><code>string</code></td>
                    <td><code>null</code></td>
                    <td>The Url to navigate to when the previous page link is clicked. If <code>null</code>, the previous page link isn't rendered.</td>
                </tr>
                <tr>
                    <td>nextIcon</td>
                    <td><code>IconType</code></td>
                    <td><code>ChevronRight</code></td>
                    <td>Sets the icon to the right of the <code>nextText</code>.</td>
                </tr>
                <tr>
                    <td>previousIcon</td>
                    <td><code>IconType</code></td>
                    <td><code>ChevronLeft</code></td>
                    <td>Sets the icon to the left of the <code>previousText</code>.</td>
                </tr>
                <tr>
                    <td>position</td>
                    <td><code>PagerPosition</code></td>
                    <td><code>null</code></td>
                    <td>Sets the position of the pagers.</td>
                </tr>
                <tr>
                    <td>clientId</td>
                    <td><code>string</code></td>
                    <td><code>null</code></td>
                    <td>Sets the <code>id</code> property of the rendered html element.</td>
                </tr>
            </tbody>
        </table>
    }
</div>
