@using Ux.Mvc.Web.UI
<div class="page-header">
    <h1>Panels<small>UxPanel</small></h1>
</div>
<div class="section">
    <h3>Helper</h3>
    <div class="highlight highlight-large">
        <pre class="prettyprint">
@@using (@@Html.UxPanel()) { &hellip; }</pre>
    </div>
</div>
<div class="section">

<h3>Appearance</h3>
<div class="example">
    @using (var panel = Html.UxPanel())
    {
        @panel.Header(
            @:This is the header @Html.UxIcon(IconType.ThumbsUp)
)
        @panel.Body(
            @:Scorzonera fava bean beet greens bamboo shoot broadleaf arrowhead soybean. Sea beet chaya onion mung bean corn salad chrysanthemum leaves? Ulluco, bok choy welsh onion chickpea pea sprouts indian pea, velvet bean lizard's tail fava bean, tepary bean lizard's tail - moth bean. Lettuce winged bean squash orache plectranthus prussian asparagus lotus root!
)
        @panel.Footer(
            @:This text is in the footer
)

               
        
        
        
    }
    @using (var panel = Html.UxPanel(PanelAppearanceType.Info))
    {
        @panel.Header(@<span>Info</span>)
        @panel.Body(@<span>Scorzonera fava bean beet greens bamboo shoot broadleaf arrowhead soybean. Sea beet chaya onion mung bean corn salad chrysanthemum leaves? Ulluco, bok choy welsh onion chickpea pea sprouts indian pea, velvet bean lizard's tail fava bean, tepary bean lizard's tail - moth bean. Lettuce winged bean squash orache plectranthus prussian asparagus lotus root!</span>)
        @panel.Footer(@<i>in the footer</i>)
    }
    @using (var panel = Html.UxPanel(PanelAppearanceType.Success))
    {
        @panel.Header(@<span>This is the header</span>)
        @panel.Body(@<span>Scorzonera fava bean beet greens bamboo shoot broadleaf arrowhead soybean. Sea beet chaya onion mung bean corn salad chrysanthemum leaves? Ulluco, bok choy welsh onion chickpea pea sprouts indian pea, velvet bean lizard's tail fava bean, tepary bean lizard's tail - moth bean. Lettuce winged bean squash orache plectranthus prussian asparagus lotus root!</span>)
        @panel.Footer(@<i>in the footer</i>)
    }
    @using (var panel = Html.UxPanel(PanelAppearanceType.Danger))
    {
        @panel.Header(@<span>This is the header</span>)
        @panel.Body(@<span>Scorzonera fava bean beet greens bamboo shoot broadleaf arrowhead soybean. Sea beet chaya onion mung bean corn salad chrysanthemum leaves? Ulluco, bok choy welsh onion chickpea pea sprouts indian pea, velvet bean lizard's tail fava bean, tepary bean lizard's tail - moth bean. Lettuce winged bean squash orache plectranthus prussian asparagus lotus root!</span>)
        @panel.Footer(@<i>in the footer</i>)
    }
    @using (var panel = Html.UxPanel(PanelAppearanceType.Warning))
    {
        @panel.Header(@<span>This is the header</span>)
        @panel.Body(@<span>Scorzonera fava bean beet greens bamboo shoot broadleaf arrowhead soybean. Sea beet chaya onion mung bean corn salad chrysanthemum leaves? Ulluco, bok choy welsh onion chickpea pea sprouts indian pea, velvet bean lizard's tail fava bean, tepary bean lizard's tail - moth bean. Lettuce winged bean squash orache plectranthus prussian asparagus lotus root!</span>)
        @panel.Footer(@<i>in the footer</i>)
    }

</div>
<div class="highlight">
    <pre class="prettyprint">
@@using (var panel = Html.UxPanel())
{
    @@panel.Header(
        @@:&lt;span>This is the header @@Html.UxIcon(IconType.ThumbsUp)&lt;/span>
    )
    @@panel.Body(
        @@:Scorzonera fava bean beet greens bamboo shoot broadleaf arrowhead soybean. Sea beet chaya onion mung bean corn salad chrysanthemum leaves? Ulluco, bok choy welsh onion chickpea pea sprouts indian pea, velvet bean lizard's tail fava bean, tepary bean lizard's tail - moth bean. Lettuce winged bean squash orache plectranthus prussian asparagus lotus root!
    )
    @@panel.Footer(
        @@:This text is in the footer
    )
}
</pre>
</div>
    </div>


<div class="section">
    <h3>Parameters</h3>
    @using (var panel = Html.UxPanel(PanelAppearanceType.Default))
    {
        @panel.Header(
    @:UxPanel
)
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Default</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>appearance</td>
                    <td><code>PanelAppearanceType</code></td>
                    <td><code>Default</code></td>
                    <td>Sets the coloring of the panel.</td>
                </tr>
                <tr>
                    <td>clientId</td>
                    <td><code>string</code></td>
                    <td><code>null</code></td>
                    <td>Sets the <code>id</code> property of the rendered html element.</td>
                </tr>
            </tbody>
        </table>
    }
</div>
