@model Ux.Mvc.ViewModels.Examples
<div class="page-header">
	<h1>Double <small>double</small></h1>
</div>

<div class="highlight">
	<pre class="prettyprint">
public int Double { get; set; }

Double = 12345.6789;
</pre>
</div>

<h3>Raw</h3>
<div class="example">
	@Model.Double.ToString()
</div>
<div class="highlight">
	<pre class="prettyprint">
@@Model.Double
</pre>
</div>

<h3>DisplayFor</h3>
<div class="example">
	@Html.DisplayFor(m => m.Double)
</div>
<div class="highlight">
	<pre class="prettyprint">
@@Html.DisplayFor(m => m.Double)
</pre>
</div>

<h3>EditorFor<small>Double.cshtml</small></h3>
<div class="example">

	@Html.EditorFor(m => m.Double)
</div>
<div class="highlight">
	<pre class="prettyprint">
@@Html.EditorFor(m => m.Double)
</pre>

</div>

<h3>UxDisplayRowFor</h3>
<div class="example">
	@Html.UxDisplayRowFor(m => m.Double)
</div>
<div class="highlight">
	<pre class="prettyprint">
@@Html.UxDisplayRowFor(m => m.Double)
</pre>
</div>


<h3>UxEditorRowFor</h3>
<div class="example">
	@using (Html.UxBeginForm())
 {
		@Html.UxEditorRowFor(m => m.Double)
 }
</div>
<div class="highlight">
	<pre class="prettyprint">
@@Html.UxEditorRowFor(m => m.Double)
</pre>
</div>
