@model Ux.Mvc.ViewModels.Examples
<div class="page-header">
	<h1>Email address <small>string</small></h1>
</div>

<div class="highlight">
	<pre class="prettyprint">
[DataType(DataType.EmailAddress)]
public string EmailAddress { get; set; }

EmailAddress = "someemail@domain.com";
</pre>
</div>

<h3>Raw</h3>
<div class="example">
	@Model.EmailAddress
</div>
<div class="highlight">
	<pre class="prettyprint">
@@Model.EmailAddress
</pre>
</div>

<h3>DisplayFor</h3>
<div class="example">
	@Html.DisplayFor(m => m.EmailAddress)
</div>
<div class="highlight">
	<pre class="prettyprint">
@@Html.DisplayFor(m => m.EmailAddress)
</pre>
</div>

<h3>EditorFor<small>EmailAddress.cshtml</small></h3>
<div class="example">

	@Html.EditorFor(m => m.EmailAddress)
</div>
<div class="highlight">
	<pre class="prettyprint">
@@Html.EditorFor(m=>m.EmailAddress)
</pre>

</div>

<h3>UxDisplayRowFor</h3>
<div class="example">
	@Html.UxDisplayRowFor(m => m.EmailAddress)
</div>
<div class="highlight">
	<pre class="prettyprint">
@@Html.UxDisplayRowFor(m => m.EmailAddress)
</pre>
</div>


<h3>UxEditorRowFor</h3>
<div class="example">
	@using (Html.UxBeginForm())
 {
		@Html.UxEditorRowFor(m => m.EmailAddress)
 }
</div>
<div class="highlight">
	<pre class="prettyprint">
@@Html.UxEditorRowFor(m=>m.EmailAddress)
</pre>
</div>


