@model Ux.Mvc.ViewModels.Examples
<div class="page-header">
	<h1>Single line text <small>string</small></h1>
</div>

<div class="highlight">
	<pre class="prettyprint">
[DataType(DataType.Text)]
public string SingleLineText { get; set; }

SingleLineText = "Radish nopal, chickweed brussels sprout celtuce winter melon. Water chestnut taro jícama chickweed chicory; scorzonera beetroot. Fava bean polk ti chard, tigernut - napa cabbage arracacha black-eyed pea. American groundnut brinjal catsear tinda; ahipa bitter gourd ceylon spinach, fiddlehead? Mustard arracacha water chestnut bell pepper. Mustard chinese artichoke tigernut mizuna greens chrysanthemum leaves.";
</pre>
</div>

<h3>Raw</h3>
<div class="example">
	@Model.SingleLineText
</div>
<div class="highlight">
	<pre class="prettyprint">
@@Model.SingleLineText
</pre>
</div>

<h3>DisplayFor</h3>
<div class="example">
	@Html.DisplayFor(m => m.SingleLineText)
</div>
<div class="highlight">
	<pre class="prettyprint">
@@Html.DisplayFor(m => m.SingleLineText)
</pre>
</div>

<h3>EditorFor<small>Text.cshtml</small></h3>
<div class="example">

	@Html.EditorFor(m => m.SingleLineText)
</div>
<div class="highlight">
	<pre class="prettyprint">
@@Html.EditorFor(m => m.SingleLineText)
</pre>

</div>

<h3>UxDisplayRowFor</h3>
<div class="example">
	@Html.UxDisplayRowFor(m => m.SingleLineText)
</div>
<div class="highlight">
	<pre class="prettyprint">
@@Html.UxDisplayRowFor(m => m.SingleLineText)
</pre>
</div>


<h3>UxEditorRowFor</h3>
<div class="example">
	@using (Html.UxBeginForm())
 {
		@Html.UxEditorRowFor(m => m.SingleLineText)
 }
</div>
<div class="highlight">
	<pre class="prettyprint">
@@Html.UxEditorRowFor(m => m.SingleLineText)
</pre>
</div>


