@model WiseGroupContracts.ViewModels.Test
@using Ux.Mvc.Web.UI
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div style="padding: 20px; margin-bottom: 50px; border-bottom: 1px solid #c0c0c0;">
        @Html.ActionLink("Go to Ux Framework documentation", "Index", "UxDocumentation")
    </div>

    @Html.UxDisplayRowFor(m => m.Name)


    @using (Html.UxBeginForm(allowFiles:true))
    {
        
        @Html.UxEditorRowFor(m => m.Name)
        @Html.UxEditorRowFor(m => m.AttachmentTwo)
        @Html.UxEditorRowFor(m => m.Birthday)
        @Html.UxSaveButton() @Html.UxCancelButton()
    }

</div>
