@using Ux.Mvc.Web.UI
@model Ux.Mvc.Web.UI.ButtonGroup

@helper SetChecked(bool? isChecked)
{
	if (isChecked.HasValue && isChecked.Value)
	{
	@:checked="checked"
    }   
}
@helper SetActive(bool? isChecked)
{
	if (isChecked.HasValue && isChecked.Value)
	{
	@:active
    }  
}
@helper RenderOption(SelectOption option)
{
    <label class="btn btn-default @SetActive(option.Value == Model.SelectedValue)">
        <input type="radio" value="@option.Value" name="@ViewData.TemplateInfo.HtmlFieldPrefix" @SetChecked(option.Value == Model.SelectedValue) />
        @if(option.IconType!=null) {
            @Html.UxIcon(option.IconType)
        }
		@option.Text
    </label>   
}
<div class="@Model.CssClass" @Model.GetClientIdString() 
    @if (Model.Toggle) { 
        @:data-toggle="buttons" 
    }>
@if (Model.DataSource != null)
{
    foreach (var option in Model.DataSource.UnGroupedItems)
    {
        @RenderOption(option);
    }
}

