@using Ux.Mvc.Web.UI
@model Ux.Mvc.Web.UI.EditorRow
<div class="form-group" @Model.GetClientIdString()>
    @Model.Label
    <div class="col-xs-9">

        @Model.Editor @if (Model.Tooltip.IsNullOrEmpty() == false)
        {
            <span class="help-block">@Model.Tooltip</span>
        }
        @Model.Validation
    </div>
</div>
