@model Ux.Mvc.Web.UI.LinkButton
<a href="@Model.Url" class="@Model.CssClass" @Model.GetClientIdString() @if(Model.Target.IsNullOrEmpty()== false) {
                                                                         @:target="@Model.Target"   
                                                                        }>
    @if (Model.IconType.HasValue && Model.IconPosition == Ux.Mvc.Web.UI.IconPosition.Left) {
        @Html.UxIcon(Model.IconType.Value)
    }
    @Model.Text
    @if (Model.IconType.HasValue && Model.IconPosition == Ux.Mvc.Web.UI.IconPosition.Right) {
        @Html.UxIcon(Model.IconType.Value)
    }
</a>
