@model Ux.Mvc.Web.UI.LinkButton
<a class="@Model.CssClass" @Model.GetClientIdString() @if (Model.Target.IsNullOrEmpty() == false)
                                                      {
                                                                         @:target="@Model.Target"   
                                                                        }
   @if (Model.Popover != null)
   {
    @Model.Popover.ToHtmlString()   
   }
   else
   {
      @:href="@Model.Url" 
   }>
    @if (Model.IconType !=null && Model.IconPosition == Ux.Mvc.Web.UI.IconPosition.Left)
    {
        @Html.UxIcon(Model.IconType)
    }
    @Model.Text
    @if (Model.IconType!=null && Model.IconPosition == Ux.Mvc.Web.UI.IconPosition.Right)
    {
        @Html.UxIcon(Model.IconType)
    }
</a>
