@using Ux.Mvc.Web.UI
@model Ux.Mvc.Web.UI.NextPreviousPager
<ul class="@Model.CssClass" @Model.GetClientIdString()>
	@if (Model.PreviousUrl.IsNullOrEmpty() == false)
 {
		<li @if (Model.Position == PagerPosition.Edge)
	  { 
		@:class="previous" 
	}><a href="@Model.PreviousUrl">
		@if (Model.PreviousIcon!=null)
  {
			@Html.UxIcon(@Model.PreviousIcon) 
  }
		@Model.PreviousText</a></li>
 }
	@if (Model.NextUrl.IsNullOrEmpty() == false)
	{
		<li @if (Model.Position == PagerPosition.Edge)
	  { 
			@:class="next" 
		}><a href="@Model.NextUrl">@Model.NextText @if (Model.NextIcon!=null)
											 {
			@Html.UxIcon(@Model.NextIcon) 
											 } </a></li>
	}
</ul>

