@using System.Web.Optimization
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    @Styles.Render("~/ux/css")
    @Styles.Render("~/css")
</head>
<body>

    @RenderBody()

    @Scripts.Render("~/js/jquery")
    @Scripts.Render("~/ux/js")
    @Scripts.Render("~/js")

</body>
</html>
